*{
  padding:0;
  margin:0;
}

body {
  background: #016259;
  background: -webkit-linear-gradient(left, #016259, #8EF6CF);
  background: -moz-linear-gradient(left, #016259, #8EF6CF);
  background: linear-gradient(to right, #016259, #8EF6CF);
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

::placeholder { /* Most modern browsers support this now. */
color: rgba(255, 255, 255, 0.465) !important;
font-size: 16px;
}

input {
color: white;
background-color: black;
}

::-ms-reveal {
filter: invert(100%);
}
input[type="checkbox" i] {
background-color: #7c8382;
}

#tran {
outline: 0;
border: 0;
background: #ffffff2e;
border-bottom: 0px solid #e5e5e500;
padding: 1rem;
border-radius: 1rem;
width: 350px;
}
.px-6 {
padding: 0.6rem 5rem;
}
.no-underline {
  text-decoration: none;
}

.btncol {
  background-color: #11554e;
  border: none;
  border-radius: 1rem;
}

.cardd {
  border-radius: 4rem;
  background-color:rgb(238 238 238 / 16%);
}

.type-effect {
  display: flex;
  justify-content: center;
  font-family: monospace;
}

.type-effect > .text {
  max-width: 0;
  animation: typing 3s steps(var(--characters)) infinite;
  white-space: nowrap;
  overflow: hidden;
  font-size:20px;
}

.type-effect:after {
  content: " |";
  animation: blink 1s infinite;
  animation-timing-function: step-end;
  font-size:20px;
}

@keyframes typing {
  75%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}

#login-form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
